@media screen and (min-width: 800px){
    .center-nav {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        -webkit-column-gap: 4rem;
        column-gap: 4rem;
    }
    .nav-icons, .nav-links {
        display: flex;
    }

    .toggle-btn {
        display: none;
    }
}