*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink: rgb(255, 0, 136);
    --blue: rgb(0, 98, 255);
    --darkblue: #001057;
    --lightGrey: #f1f5f8;
    --grey: #dddddd;
    --black: #0a0c10;
    --textColor: #17172e;
    --transition: all .3s ease-out;
    --transitionBezier : all 1s cubic-bezier(.5,.21,.47,1);
    --letterSpacing : .15rem;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}

main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
}

.sidebar-show {
    opacity: 1;
    transform: translateY(0);
    transition: var(--transitionBezier);
}

.sidebar-hidden {
    opacity: 0;
    transform: translateY(-100%);
    transition: var(--transitionBezier);
}

.active {
    /* border-bottom-right-radius: .5rem;
    border-right: var(--darkblue) .15rem solid;
    border-bottom: var(--darkblue) .15rem solid; */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--grey);
    transition: var(--transitionBezier);
    z-index: 999;
    display: grid;
    place-items: center;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--clr-black);
    font-size: 3rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.sidebar-links .aside-links {
    display: block;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    color: var(--black);
    transition: var(--transition);
    text-decoration: none;
}

.navbar {
    height: 5rem;
    display: grid;
    place-items: center;
}

.center-nav {
    width: 90vw;
    max-width: 1170px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    height: 70px;
}

.toggle-btn {
    font-size: 2rem;
    background: transparent;
    border: transparent;
    color: var(--darkblue);
    cursor: pointer;
    transition: var(--transition);
}

.nav-links {
    display: none;
}

.nav-links a {
    color: var(--black);
    font-weight: 400;
    letter-spacing: var(--letterSpacing);
    font-size: 1.2rem;
    transition: var(--transition);
    cursor: pointer;
    padding: .25rem .5rem;
    text-transform: capitalize;
    margin-left: 1rem;
    text-decoration: none;
}

.nav-icons {
    display: none;
}

.nav-icons a {
    margin: 0 .25rem;
}




.disableSection {
    transform: translateX(-100%);
}

section {
    height: 100vh;
    width: 100%;
    top: 5rem;
    left: 0;
    display: flex;
    place-items: center;
    flex-direction: column;
    transition: var(--transitionBezier);

    position: absolute;
}

#home {
    z-index: 3;
    background-color: #ff0000;
}

#projets {
    z-index: 2;
    background-color: #001057;
}

#competences {
    z-index: 1;
    background-color: #16cab2;
}

.title-section {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 100%;
    height: auto;
}

.title-section h2 {
    word-wrap:break-word;
    margin-top: 3rem;
    padding: .2em 0;
    font-size: 2rem;
    letter-spacing: var(--letterSpacing);
    color: var(--textColor);
}

.title-section p {
    padding: 1em 0;
    letter-spacing: var(--letterSpacing);
}

.title-section h4 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.titleSeparator {
    width: 7rem;
    height: .25rem;
    background-color: var(--blue);
}

.parcours {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    position: relative;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom p {
    margin: 0 7rem;
}

.circle {
    border: var(--blue) 5px solid;
    padding: 2rem;
    border-radius: 50%;
}

.circle svg {
    height: 100px;
    width: 100px;
}

.line {
    background-color: var(--blue);
    width: 5rem;
    height: 5px;
}


